span.status-indicator.status-indicator-animated
    span.status-indicator-circle(style="background-color: {{color}}")
    span.status-indicator-circle(style="background-color: {{color}}")
    span.status-indicator-circle(style="background-color: {{color}}")
