.h-full.relative.flex.flex-col.border.border-neutral-200.rounded-lg.bg-white.cursor-pointer.overflow-hidden([ngClass]="color()", class="hover:border-neutral-400 {{innerWidth > 560 && !service.trigger.value.isAside ? 'issue-card' : 'issue-card-min'}}")
    .flex.flex-col.bg-white.rounded-lg.border.border-neutral-200.p-6.w-full.gap-y-2.items-end(*ngIf="!issue")
        .bg-neutral-200.rounded-md.h-4.animate-pulse(class="w-9/12")
        .bg-neutral-200.rounded-md.h-3.animate-pulse(class="w-10/12")
        .bg-neutral-200.rounded-md.h-3.animate-pulse(class="w-11/12")
        .bg-neutral-200.rounded-md.h-3.animate-pulse(class="w-8/12")

    ng-container(*ngIf="issue")
        .flex.flex-col.flex-1
            .flex.px-4.py-3.pb-1.items-start
                h3.font-semibold.text-sm.mb-0.break-all.text-nowrap.text-ellipsis.w-52.overflow-hidden([class.text-red-500]="issue.level > 1")
                    span {{ issue.title }}
                .ms-auto.flex.items-center.gap-1
                span.text-yellow-500(*ngIf="service.auth.session.id == issue.user_id")
                    i.ti.ti-tag
                span.text-red-500(*ngIf="issue.level > 1")
                    i.ti.ti-alert-circle(*ngIf="issue.level == 2")
                    i.ti.ti-speakerphone(*ngIf="issue.level == 3")

            ng-container(*ngIf="issue.process > 0")
                .bg-blue-500(class="h-0.5", style="width: {{issue.process}}%")

            .flex.text-neutral-500.text-xs.pt-1.px-4
                .ml-auto
                .ml-3(*ngIf="issue.process > 0")
                    i.ti.ti-progress-check.mr-1
                    span {{ issue.process }}%

                .ml-3(*ngIf="issue.todo.length")
                    i.ti.ti-square-check.mr-1
                    span {{project.display.todoStatus(issue.todo)}}

                .ml-3(*ngIf="issue.planend")
                    i.ti.ti-hourglass.mr-1
                    span {{ issue.planend.substring(0, 10) }}

            .px-4.pb-1
                ng-container(*ngIf="issue.todo.length > 0")
                    .divide-y.divide-neutral-100.mt-1.text-xs
                        .py-2(*ngFor="let todo of issue.todo")
                            i.ti.ti-check.mr-2([ngClass]="todo.checked?'text-green-500':'text-neutral-400'")
                            span([ngClass]="todo.checked?'line-through text-neutral-400':''") {{todo.title}}

        .text-right.p-1.border-t.border-neutral-200(*ngIf="issue.worker.length > 0", [ngClass]="color()")
            ng-container(*ngFor="let worker_id of issue.worker")
                span.border.border-neutral-200.bg-neutral-50.text-xs.text-neutral-700.font-medium.rounded-md.mr-1(*ngIf="project.member.map[worker_id]", class="px-1.5 py-0.5") {{project.member.map[worker_id].name}}
