.flex.flex-wrap.flex-col.border.border-gray-300.rounded-2xl.bg-white
    .flex.flex-wrap.p-5.gap-x-2(*ngIf="!readOnly")
        .w-96.flex.flex-col
            label.mb-2 사용자 이메일
            input.text-sm.py-1.w-full.border-gray-300.rounded-sm([(ngModel)]="newuser.email", placeholder="user@season.co.kr", (keyup.enter)="create()")
        .w-24.flex.flex-col
            label.mb-2 권한
            select.text-sm.py-1.w-full.border-gray-300.rounded-sm(class="shadow-0 hover:bg-slate-50", [(ngModel)]="newuser.role")
                option(value='admin', *ngIf="wikibook.accessLevel(['admin'])") 관리자
                option(value='user') 구성원
                option(value='guest') 손님
        .w-36.flex.flex-col-reverse
            button.bg-blue-500.text-white.rounded-sm.text-sm.py-1(class="hover:bg-blue-600", (click)="create()") 추가

    .overflow-x-auto
        table.min-w-full
            thead.border-y.border-gray-300
                tr.text-xs.ff-b.text-left(class="*:py-2 *:px-4 *:bg-slate-50")
                    th 구성원
                    th.w-1.text-nowrap 참가일
                    th.w-1.text-nowrap 권한
                    th.w-1.text-nowrap.area-round.text-right(*ngIf="!readOnly")

            tbody.text-sm.divide-y
                ng-container(*ngFor="let user of wikibook.access.list()")
                    tr(*ngIf="user.id", class="*:py-2 *:px-4 hover:bg-slate-50")
                        td(*ngIf="user.meta.email")
                            div
                                span {{user.meta.name}}
                                span.ml-2.bg-orange-500.rounded-sm.text-xs.text-white(*ngIf="service.auth.session.id == user.meta.id", class="py-[3px] px-[6px]") It's Me!
                            small.text-gray-500 {{user.meta.email}}
                        td.text-nowrap(*ngIf="!user.meta.email")
                            div {{user.user}}
                            small.text-gray-500 아직 시즌웍스에 가입되지 않은 사용자입니다
                        td.text-nowrap.text-gray-500 {{user.created.substring(0, 10)}}
                        td.text-nowrap(*ngIf="user.meta.type == 'user'")
                            select.text-sm.py-1.w-24.border-gray-300.rounded-sm(class="shadow-0 hover:bg-slate-50 disabled:bg-slate-100", [(ngModel)]="user.role", (change)="roleChanged(user)", [disabled]="readOnly || service.auth.session.id == user.meta.id || (project.accessLevel(['manager']) && ['admin', 'manager'].includes(user.role))")
                                option(value='admin', [disabled]="!wikibook.accessLevel(['admin'])") 관리자
                                option(value='user') 구성원
                                option(value='guest') 손님
                        td(*ngIf="user.meta.type == 'project'")
                            .text-sm.py-1.w-24.bg-slate-100 프로젝트
                        td.w-1.text-nowrap(*ngIf="!readOnly")
                            button.rounded-full.bg-red-500.text-white.px-3.py-1(*ngIf="service.auth.session.id != user.meta.id && !(wikibook.accessLevel(['manager']) && ['admin', 'manager'].includes(user.role))", (click)="remove(user)")
                                i.fa-solid.fa-xmark

