h1 {
    font-size: 42px;
}

.login-view {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(/assets/bg/main.jpg);
        background-size: 100%;
        opacity: 0.7;
    }

    .logo {
        display: flex;
        position: relative;
        align-items: center;
        height: 70px;
        border-radius: 15px;
        padding: 0 32px;
        background-color: rgba($color: #fff, $alpha: 0.6);

        * {
            user-select: none;
            -webkit-user-drag: none;
        }
    }

    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5%;

        .card {
            margin: 12px;
            text-align: center;
            width: 100%;
            max-width: 460px;
            display: flex;

            &.wide-card {
                max-width: 800px;
            }

            &.wide-card-xl {
                max-width: 1000px;
            }

            .card-body {
                padding: 48px;
            }

            .card-footer {
                background-color: #DEE4F5;
                font-size: 12px;
                border-radius: 0 0 5px 5px;
                padding: 12px 72px;
            }
        }
    }

    .addition-info {
        margin-top: 24px;
        font-size: 14px;
        display: flex;

        a {
            color: var(--wc-text);

            &:hover {
                color: #6380de;
            }
        }
    }

    .underline-text-input-group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 100%;

        input {
            line-height: 36px;
        }

        .underline-text-input-label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 15px;
            color: var(--wc-black);
            font-weight: 700;
        }

        .underline-text-input-field {
            width: 100%;
            border: 0;
            border-bottom: 2px solid var(--wc-gray);
            outline: 0;
            font-size: 18px;
            color: #707070;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;

            &::placeholder {
                font-size: 13px;
                color: transparent;
            }

            &:placeholder-shown~.underline-text-input-label {
                font-size: 18px;
                cursor: text;
                top: 20px;
                color: var(--wc-gray);
            }
        }

        .underline-text-input-field:focus {
            ~.underline-text-input-label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 15px;
                color: var(--wc-blue);
                font-weight: 700;
            }

            padding-bottom: 6px;
            font-weight: 700;
            border-width: 3px;
            border-color: var(--wc-blue);
        }

        /* reset input */
        .underline-text-input-field {

            &:required,
            &:invalid {
                box-shadow: none;
            }
        }
    }

    .underline-text-onlyform-input-group {
        position: relative;
        padding: 15px 0 6px 0;
        margin-top: 10px;
        width: 100%;

        input {
            line-height: 36px;
        }

        .underline-text-input-label {
            position: absolute;
            top: 0;
            display: block;
            font-size: 15px;
            color: #000000;
            font-weight: 700;
        }

        font-weight: 700;
        border-width: 3px;
        border-color: var(--wc-gray);

        .underline-text-input-field {
            width: 100%;
            border: 0;
            border-bottom: 2px solid var(--wc-gray);
            outline: 0;
            font-size: 18px;
            color: #707070;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;

            &::placeholder {
                font-size: 13px;
                color: var(--wc-gray);
            }
        }

        .underline-text-input-field:focus {
            ~.underline-text-input-label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 15px;
                color: var(--wc-blue);
                font-weight: 700;
            }

            padding-bottom: 6px;
            font-weight: 300;
            border-width: 3px;
            border-color: var(--wc-blue);
        }
    }

    .error-focus {
        .underline-text-input-field:focus {
            ~.underline-text-input-label {
                color: var(--wc-highlight) !important;
            }

            border-color: var(--wc-highlight) !important;

            &::placeholder {
                color: var(--wc-sub-red) !important;
            }
        }
    }

    .error-msg {
        color: red;
        font-size: 12px;
    }

    .btn {
        padding: 14px 16px;
        border-radius: 10px;
        height: auto;
    }
}

@media(max-width:768px) {
    .login-view {
        padding: 24px;
        display: block;
    }

    .logo {
        margin-top: 48px;
    }
}

.card.register {
    justify-content: center;

    h2 {
        font-size: 32px;
        font-family: SUIT-eb;
    }
}


.btn-grad {
    background-image: linear-gradient(to right, #6c8ef7aa 0%, #6c8ef7 51%, #6c8ef7aa 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.card {
    .row {
        .col-md-3 {
            text-transform: uppercase;
            text-align: left;
            line-height: 36px;
        }

        .col-md-9 {

            .btn.btn-sm {
                width: 100px;
            }
        }
    }

    .box-sm {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content-wrap {
    .content {
        text-align: left;
    }
}

.ck-content {
    padding: 32px !important;
    margin: 0 auto;
    height: 640px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #000;

    h2 {
        margin-top: 0 !important;
    }
}

.error {
    input {
        border: 2px solid red;
    }
}