.flex.flex-row.relative.w-screen.h-screen.overflow-hidden
    router-outlet

wiz-portal-season-alert
.fixed.inset-0(*ngIf="service.auth.status === null || service.loading.isshow", class="z-[999999]")
    .h-full.flex.items-center.justify-center
        wiz-portal-season-loading-season([height]="48")
