.relative.w-screen.h-full.flex.flex-col.items-center.justify-center.overflow-auto
    .absolute.inset-0.bg-cover.bg-center(style="background-image: url('/assets/bg/main.jpg'); opacity: 0.7;", class="z-[-1]")

    .relative.rounded-lg.px-6.py-3.bg-white.border.border-neutral-200
        img.h-8.inline-block.align-middle(src='/assets/portal/season/brand/logo-black.svg')
        .inline-block.align-middle.ml-3.text-4xl.font-extrabold.text-neutral-800 WORKS

    .w-full.flex.justify-center.mb-10
        .px-8.py-6.m-3.rounded-lg.bg-white.border.border-neutral-200.overflow-hidden(class="max-w-[1000px]")
            h2.text-2xl.font-bold.text-neutral-900.mb-6.text-center 개인정보 처리방침
            .text-left
                .bg-white.p-6.mx-auto.overflow-x-hidden.overflow-y-auto.border.border-neutral-200.rounded-md(class="h-[600px]")
                    h2.text-lg.font-bold.text-neutral-900.mt-0.mb-2
                        strong SEASON WORKS 서비스 개인정보 처리방침
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 1. 개인정보의 수집 및 이용 목적
                    p.text-sm.text-neutral-600.mb-3 SEASON WORKS 서비스(이하 &quot;서비스&quot;)는 개선된 사용자 경험을 제공하고, 맞춤형 서비스를 제공하기 위해 이메일, 이름, 핸드폰번호 등의 개인정보를 수집하고 있습니다. 수집된 개인정보는 다음의 목적을 위해 사용됩니다:
                    ul.list-disc.pl-6.text-sm.text-neutral-600.mb-3.space-y-1
                        li 회원 관리: 회원제 서비스 이용에 따른 본인 확인, 개인 식별, 부정 이용 방지 및 비인가 사용 방지
                        li 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산
                        li 마케팅 및 광고에 활용: 신규 기능 및 맞춤형 광고 제공, 이벤트 및 프로모션 안내
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 2. 수집하는 개인정보 항목 및 수집 방법
                    ul.list-disc.pl-6.text-sm.text-neutral-600.mb-3.space-y-1
                        li 수집 항목: 이메일, 이름
                        li 수집 방법: 서비스 가입 과정에서 이용자가 직접 제공
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 3. 개인정보의 보유 및 이용 기간
                    p.text-sm.text-neutral-600.mb-3 이용자의 개인정보는 서비스 이용 계약 체결(가입) 시점부터 서비스 이용계약 해지(탈퇴)까지 보유 및 이용됩니다. 단, 관련 법령에 의한 정보 보유 사유가 발생하는 경우 해당 법령에 따라 보유할 수 있습니다.
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 4. 개인정보의 파기 절차 및 방법
                    p.text-sm.text-neutral-600.mb-3 이용자의 개인정보는 원칙적으로 개인정보 보유기간이 경과하거나, 처리 목적이 달성된 경우에는 지체 없이 파기합니다. 파기 절차 및 방법은 다음과 같습니다:
                    ul.list-disc.pl-6.text-sm.text-neutral-600.mb-3.space-y-1
                        li 파기절차: 이용자가 입력한 정보는 목적 달성 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.
                        li 파기방법: 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제하고, 종이 문서에 기록된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 5. 이용자의 권리와 그 행사 방법
                    p.text-sm.text-neutral-600.mb-3 이용자는 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 권리가 있으며, 개인정보의 처리 정지 요구 등의 권리를 행사할 수 있습니다. 이러한 권리 행사는 서비스의 고객지원센터를 통해 요청할 수 있습니다.
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 6. 개인정보 보호책임자
                    ul.list-disc.pl-6.text-sm.text-neutral-600.mb-3.space-y-1
                        li 이름: 채영훈
                        li 이메일: proin&#64;season.co.kr
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 7. 개인정보의 안전성 확보 조치
                    p.text-sm.text-neutral-600.mb-3 서비스는 이용자의 개인정보를 안전하게 관리하기 위하여 다음과 같은 안전성 확보 조치를 취하고 있습니다.
                    ul.list-disc.pl-6.text-sm.text-neutral-600.mb-3.space-y-1
                        li 관리적 조치: 내부관리계획 수립·시행, 정기적 직원 및 위탁업체 교육 등
                        li 기술적 조치: 개인정보처리시스템 접근 권한 관리, 접근 통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치
                        li 물리적 조치: 전산실, 자료보관실 등의 접근 통제
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 8. 개인정보 자동 수집 장치의 설치·운영 및 거부에 관한 사항
                    p.text-sm.text-neutral-600.mb-3 서비스는 이용자에게 개인화되고 맞춤화된 서비스를 제공하기 위해 이용자의 정보를 저장하고 수시로 불러오는 &apos;쿠키(cookie)&apos;를 사용할 수 있습니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 소량의 정보이며, 이용자들의 PC 컴퓨터 내의 하드디스크에 저장되기도 합니다.
                    p.text-sm.text-neutral-600.mb-3 이용자는 쿠키 설치에 대한 선택권을 가지고 있으며, 웹브라우저의 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 9. 개인정보 보호를 위한 이용자의 의무
                    p.text-sm.text-neutral-600.mb-3 이용자 본인의 개인정보는 보호의 주체이며, 서비스는 이용자의 개인정보를 보호하기 위해 최선을 다하고 있습니다. 비밀번호 등 개인정보의 보안 유지에 대한 책임은 해당 이용자 본인에게 있으며, 서비스 이용 시 개인정보가 유출되지 않도록 주의해야 합니다. 또한, 다른 사람에게 개인정보가 유출되지 않도록 관리해야 하며, 공공장소에서 개인정보를 노출시키지 않도록 주의해야 합니다.
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 10. 개인정보 처리방침 변경에 관한 사항
                    p.text-sm.text-neutral-600.mb-3 본 개인정보 처리방침은 법률, 정책 및 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 수 있으며, 변경된 개인정보 처리방침은 서비스의 공지사항을 통해 공지됩니다.
                    p.text-sm.text-neutral-600.mb-3 본 개인정보 처리방침은 시행일로부터 적용됩니다.
                    h2.text-lg.font-bold.text-neutral-900.mt-6.mb-2
                        strong 11. 개인정보 처리방침 시행 및 변경 일자
                    ul.list-disc.pl-6.text-sm.text-neutral-600.mb-3.space-y-1
                        li 시행일: 2024년 5월 25일
                        li 최종 변경 일자: 2024년 5월 25일
