div(class="w-10/12 md:w-8/12 m-auto text-md mt-2 pt-3 border-t border-gray-300")
    input.w-full.mb-2(*ngIf="search && list.length > 4", placeholder="Search IdP", [(ngModel)]="text", (ngModelChange)="service.render();")
    a.flex.flex-row.p-2.mb-1.justify-center.border.border-blue-500.rounded-lg(
        *ngFor="let item of list",
        class="hover:bg-blue-100 hover:border-blue-700",
        [class.hidden]="!filter(item)",
        href="/saml/login?idp={{item.key}}",
    )
        ng-container(*ngIf="item.icon")
            img.self-center([src]="item.icon", style="max-height: 20px;")
            .vr.bg-black.mx-1.opacity-50
        span {{item.display_name}}
