ng-container(*ngIf="loaded")
    .min-h-full.ml-6.py-4(*ngIf="MENU == 'info'", class="max-2xl:ml-auto")
        wiz-portal-works-project-info

    ng-container(*ngIf="project.accessLevel(['admin', 'manager', 'user', 'guest'])")
        .min-h-full.mx-6.py-4(*ngIf="MENU == 'member'", class="max-2xl:ml-auto")
            wiz-portal-works-project-member
        ng-container(*ngIf="MENU == 'issueboard'")
            wiz-portal-works-project-issueboard
        ng-container(*ngIf="MENU == 'meeting'")
            wiz-portal-works-project-meeting
        ng-container(*ngIf="MENU == 'drive'")
            wiz-portal-works-project-drive
        .min-h-full.mx-6.py-4(*ngIf="MENU == 'wiki'", class="max-2xl:ml-auto")
            wiz-portal-works-project-wiki
    
    ng-container(*ngIf="project.accessLevel(['visitor'])")
        .p-4(*ngIf="MENU != 'info'")
            .flex.flex-col.items-center.bg-white.rounded-lg.border.border-gray-300.py-10.w-full
                img.h-32.w-auto(src="/assets/portal/works/work.svg")
                p.mt-8.text-xl 접근 권한이 없습니다
                p.mt-2.text-md.text-gray-500 아래 참가하기 버튼을 눌러 프로젝트에 참가해주세요
                button.bg-blue-500.text-white.rounded-lg.py-2.px-3.mt-6(class="hover:bg-blue-400", (click)="joinProject()")
                    span 참가하기
                    i.fa-solid.fa-person-running.ml-2
