.flex.flex-row.relative.w-full.h-screen.overflow-hidden(class="max-sm:flex-col")
    wiz-component-nav-aside(*ngIf="!isAside")

    div(
        class="hidden lg:flex fixed w-[16px] h-[64px] bg-neutral-200 text-neutral-500 bottom-[24px] items-center justify-center hover:bg-neutral-300 cursor-pointer z-[1000] rounded-r transition-colors",
        [ngClass]="isAside ? 'left-0' : 'left-[244px]'",
        (click)="hideAside()")
        i.ti.ti-chevron-left(class="text-[14px]", *ngIf="!isAside")
        i.ti.ti-chevron-right(class="text-[14px]", *ngIf="isAside")

    .flex-1.h-full.overflow-auto.bg-white
        router-outlet

wiz-portal-season-alert
.fixed.inset-0(*ngIf="service.auth.status === null || service.loading.isshow", class="z-[999999]")
    .h-full.flex.items-center.justify-center
        wiz-portal-season-loading-season([height]="48")
